body{
    background:#333;
    color: white;
    text-align: center;
    padding: 50px;
}

.btn-like{
    background: green;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-origin: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.btn-unlike{
    background: red;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-origin: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}
